<?xml version="1.0"?>
<!-- encoding="utf-8"-->
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="Prog_Contablite.My.MySettings.Base_Compta_SocConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files (x86)\Prog_Contablite\Data\Base_Compta_Soc.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
 
 <add name="Prog_Contablite.My.MySettings.Base_Compta_SocConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Program Files (x86)\Prog_Contablite\Data\Base_Compta_001.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    </connectionStrings>-->
    <connectionStrings>
        <add name="Prog_Contablite.My.MySettings.Base_Compta_001ConnectionString"
            connectionString="Data Source=.;Initial Catalog=Base_Compta_001;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Prog_Contablite.My.MySettings.Base_Compta_001ConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Base_Compta_001.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
           <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
               </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> 
        </sharedListeners>
    </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

    
</configuration>